@charset "UTF-8";
body {
  margin: 0;
  background-color: #D9D9D9;
}

nav {
  height: 665px;
  width: 100%;
  background: url("../../data/logo/Mask group.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 51px;
  margin-left: 69px;
}

.title {
  font-size: 44px;
  margin-top: 150px;
  margin-left: 15%;
  color: #FFD15B;
  font-family: "Anton", Arial, Helvetica, sans-serif;
}

#search {
  width: 954px;
  height: 72px;
  margin-left: 10%;
  border-radius: 11px;
  max-width: 80%;
  padding-left: 35px;
  font-size: 16px;
  color: #7a7a7a;
  font-family: "Manerope", Arial, Helvetica, sans-serif;
}

.button {
  border: none;
  position: relative;
  right: 69px;
  top: 22px;
  background-color: white;
}
.button :hover {
  cursor: pointer;
}

.recipes {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 680px;
}

.recepice_count {
  font-size: 21px;
  font-family: "Anton", Arial, Helvetica, sans-serif;
}

/* Style du dropdown */
.dropdown {
  z-index: 2;
}

/* Style du bouton du dropdown */
.dropbtn {
  padding: 10px;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  width: 195px;
  height: 56px;
  font-size: 16px;
  font-family: "Manerope", Arial, Helvetica, sans-serif;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown_title {
  padding: 25px;
  font-size: 16px;
  font-family: "Manerope", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}

/* Style du contenu du dropdown */
.dropdown_content {
  display: none;
  position: absolute;
  top: 714px;
  background-color: #f1f1f1;
  width: 195px;
  min-height: 550px;
  z-index: 3;
  border-radius: 11px;
}

.dropdown_tags {
  overflow-y: auto; /* Permet le défilement si le contenu est trop long */
  height: 425px;
}
.dropdown_tags :hover {
  background-color: #fc7303;
}

/* Style de l'option du dropdown */
.dropdown_select {
  height: 50px;
  border-radius: 11px;
  border: none;
  font-family: "Manerope", Arial, Helvetica, sans-serif;
  padding: 10px 10PX 5PX 15px;
  font-size: 16px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.show {
  display: block;
}

.input_dropdown {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 5px;
  width: 170px;
}

.button_dropdown {
  position: absolute;
  border: none;
  left: 140px;
}

.search_logo {
  position: absolute;
  top: 7px;
  left: 27px;
  background-color: white;
  color: gray;
}

.element_ingredient,
.element_appliance,
.element_ustensils {
  font-family: "Manerope", Arial, Helvetica, sans-serif;
  padding: 10px 10PX 5PX 15px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.recipes_cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-right: 50px;
  max-width: 380px;
  height: 731px;
  background-color: #FFFFFF;
  border-radius: 21px;
}

.card_image {
  border-radius: 21px 21PX 0 0;
  object-fit: cover;
  height: 253px;
}

.card_time {
  position: relative;
  bottom: 232px;
  left: 297px;
  background-color: #FFD15B;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  width: 41px;
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.card_name {
  font-family: Anton, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 5px 20px;
}

.card_title {
  color: #7a7a7a;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 20px;
}

.card_description {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 104px;
  margin: 5px 20px;
  overflow: hidden;
}

.card_list {
  list-style-type: none;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.card_ingredients {
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.card_quantity {
  color: #7a7a7a;
}/*# sourceMappingURL=main.css.map */